:root {
    --background-gris: #EBEBEB;
    --background-blanco: #FFFFFF;
    --background-ceniza-claro: #F5F5F5;
    --background-azul-claro: #EAF2FD;
   
    --boton-azul: #2A7AE4;

    --fuente-ceniza: #464646;
}