.banner {
    height: 0px;
    background-image: url(../assets/banner/banner_img.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 15vw;
}

.banner__container {
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--background-blanco);
}

.banner__title {
	padding-bottom: 2rem;
	font-size: 50px;
    text-shadow: 2px 2px 0px #323131, 5px 4px 0px rgb(0 0 0 / 15%);
}

.banner__subtitle {
	padding: 1rem 0 1rem 0;
}

.banner__btn {
    background-color: var(--boton-azul);
    border: none;
    color: var(--background-blanco);
    height: 50px;
    width: 100px;
    padding: 1.5rem;
    font-size: 1rem;
}

.store {
	display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60vw;
    padding: 3vw;
}

.store__category__header {
	width: 90%;
	display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
}

.store__category__header__title {
	font-size: 40px;
	font-weight: bold;
}

.store__category__header__link {
	display: block;
	padding: 2%;
	font-size: 20px;
	font-weight: bold;
}

.store__category__card-container {
	padding: 0px 25px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    width: 60vw;
}

.info {
    background-color: var(--background-azul-claro);
    padding: 3vw;
}

.info-container {
	 display: flex;
    justify-content: space-evenly;
}

.info__header__logo {
	padding: 1vw;
}

.info__header__logo__img {
	padding: 1vw 0vw 1vw 0;
}

.info__info__nav {
    height: 250px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw;
}

.info__info__nav__link {
	color: var(--fuente-ceniza);
    font-weight: 500;
    text-decoration: none;
}

.form-fieldset {
	border: none;
}
.form-fieldset__title {
	font-weight: 700;
}

.form-group{
	padding: 1vw 1vw 1vw 0;
}

.form-group__textarea {
	resize: none;
	width: 80%;
	height: 150px;
	border: none;
	padding: 1vw;
}

.form-group__input {
	width: 80%;
	border: none;
	padding: 1vw;
}

.btn__blue {
	background-color: var(--boton-azul);
    border: none;
    color: var(--background-blanco);
    height: 45px;
    width: 180px;
    font-weight: 500;
}

.footer {
	background-color: var(--background-blanco);
}

.footer__info__p {
	text-align: center;
	font-weight: 500;
	margin: 0 auto;
	padding: 1vw;
}




@media only screen and (max-width: 690px) {
    .banner{
        background-size: 500vw;
        height: 250px;
    }
    .banner__container{
        width: 100px;
        height: 100px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .info-container {
		flex-direction: column;
		align-items: center;
		gap: 30px;
}
	.info__info__nav {
		align-items: center;
	}
    .form-group {
        padding: 2vw;
    }
}