.banner {
    height: 0px;
    background-image: url(../assets/banner/banner_img.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 15vw;
}

.banner__container {
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--background-blanco);
}

.banner__title {
	padding-botton: 2rem;
	font-size: 50px;
    text-shadow: 2px 2px 0px #323131, 5px 4px 0px rgb(0 0 0 / 15%);
}

.banner__subtitle {
	padding: 1rem 0 1rem 0;
}

.banner__btn {
    background-color: var(--boton-azul);
    border: none;
    color: var(--background-blanco);
    height: 50px;
    width: 100px;
    padding: 1.5rem;
    font-size: 1rem;
}

.store {
	display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60vw;
}

.store__category__header {
	width: 90%;
	display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
}

.store__category__header__title {
	font-size: 40px;
	font-weight: bold;
}

.store__category__header__link {
	display: block;
	padding: 2%;
	font-size: 20px;
	font-weight: bold;
}

.store__category__card-container {
	padding: 0px 25px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 60vw;
}