
.banner {
    height: 100px;
    background-image: url(../assets/banner/banner_img.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 10rem;
}

.banner__container {
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--background-blanco);
}

.banner__title {
	padding-botton: 2rem;
	font-size: 50px;
    text-shadow: 2px 2px 0px #323131, 5px 4px 0px rgb(0 0 0 / 15%);
}

.banner__subtitle {
	padding: 1rem 0 1rem 0;
}

.banner__btn {
    background-color: var(--boton-azul);
    border: none;
    color: var(--background-blanco);
    height: 50px;
    width: 150px;
    padding: 1.5rem;
    font-size: 1.5rem;
}